<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSInformatics</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>jsi</servlet-name>
    <servlet-class>
         org.springframework.web.servlet.DispatcherServlet
      </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsi</servlet-name>
    <url-pattern>*.jsi</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <description>ServletContextListener</description>
    <listener-class>com.js.listener.MyListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.js.controller.ImageFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadImage</display-name>
    <servlet-name>LoadImage</servlet-name>
    <servlet-class>com.js.controller.LoadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadImage</servlet-name>
    <url-pattern>/LoadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadErrorLog</display-name>
    <servlet-name>DownloadErrorLog</servlet-name>
    <servlet-class>com.js.servlet.DownloadErrorLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadErrorLog</servlet-name>
    <url-pattern>/DownloadErrorLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manager</display-name>
    <servlet-name>Manager</servlet-name>
    <servlet-class>com.js.servlet.SMSWebServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager</servlet-name>
    <url-pattern>/Manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLocationInfo</display-name>
    <servlet-name>UserLocationInfo</servlet-name>
    <servlet-class>test.UserLocationInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLocationInfo</servlet-name>
    <url-pattern>/UserLocationInfo</url-pattern>
  </servlet-mapping>
</web-app>