<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <mapping class="com.js.project.dto.OurProduct"/>
        <mapping class="com.js.project.dto.ProductImages"/>  
        <mapping class="com.js.project.dto.ProductFeatures"/>   
        <mapping class="com.js.project.dto.ProductEnvironment"/>
        <mapping class="com.js.dto.SuccessStory"/>
        <!-- Permission stuff : Start -->
        
        
        
        <!-- Permission stuff : Stop -->
        
    </session-factory>
</hibernate-configuration>